@media (max-width: 1200px){
    body {
        background-color: firebrick;
        }
    .logo_criador{
        left: 20%;
    }    

    .fundo_video {
        display: block;
    }
    .container {
        height: auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .container .mario{
        max-width: 400px;
    }
    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container .texto {
        color: white;
        text-align: center;  
    }
    .container .botao {
        background-color: blue ;
    }
}
    @media (max-width: 500px){ 
        body{
            overflow-x: hidden;
        }
        .cabecalho {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        .container .imagem_titulo {
            max-width: 75%;
        }
        .modal .fechar-modal {
            width: 30px;
            line-height: 30px;
        }
        .modal #video {
            width: 300px;
            height: 169px;
        }
        .link{
            display: none;
        }
        .zelda {
            display: none;
    }
    @media (max-width: 376px) {
        .modal #video {
            width: 250px;
            height: 140px;
        }
    }
